.edit-user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.edit-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.edit-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.edit-card label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  text-align: left;
}

.edit-card input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background-color: #4c72af;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #366ff4;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #455da0;
}

.cancel-btn:hover {
  background-color: #355be5;
}
